[submodule "study-buddies-server"]
	path = study-buddies-server
	url = https://github.com/angelhack-study-buddies/study-buddies-server.git
[submodule "study-buddies-client"]
	path = study-buddies-client
	url = git@github.com:angelhack-study-buddies/study-buddies-client.git
